<%- include('partials/header') -%>
<body>
    <h1>Bienvenid@</h1>
    <hr>
    <ul>
        <% tasks.forEach((task)=> { %>
            <li>
                <%= task.titulo %>
                <%= task.descripcion %>
            </li>
        <% }); %>
    </ul>

    <script src="/js/landing.js"></script>
</body>
<%- include('carousel') -%>
<%- include('partials/footer') -%>